.right-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 7%;
}

.description-container{
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

}
.description-container div{
    text-align: center;
    font-size: 1.3rem;
    box-sizing: border-box;
}
.weather-icon i{
    font-size: 9rem;
}
.four-box-parent{
    height: 25%;
    display: grid;
    width: 100%;
    justify-items:baseline;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.four-box-parent div{
    display: flex;
    border-radius: 15px ;
    border: 1px solid;
    text-align: center;
    width: 80%;
    align-items: center;
    margin-left: 15px;
    justify-content: center;
    height: 100%;
}