body{
    margin: 0;
    padding: 0;
}
.Main-Container{
    height:100vh;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    margin: 0;
    width:100vw;
}
.background-img{
filter: blur(10px);
    width: 100%;
    height: 100%;
}


.content-container{
   padding: 15px;
    width: 80%;
    position: absolute;
    margin: auto;
    top:10%;
    left: 10%;
    height: 80%;
    color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid;

}

